doctype html
html
	head
		title DX &#8212; #{title}
		link(rel='stylesheet', href='/css/normalize.css?v=1')
		link(rel='stylesheet', href='/css/main.css?v=1')
		//
			link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/common/common.css?v=1')
		if title == 'Sign in'
			link(rel='stylesheet', href='/css/signin.css?v=1')
		if title == 'Sign up'
			link(rel='stylesheet', href='/css/signup.css?v=1')
		if title == 'Account'
			link(rel='stylesheet', href='/css/account/account.css?v=1')
		if title == 'Umm'
			link(rel='stylesheet', href='/css/account/account.css?v=1')
		if title == 'Activated'
				link(rel='stylesheet', href='/css/account/account.css?v=1')
		if title == 'Sorry'
				link(rel='stylesheet', href='/css/account/account.css?v=1')
		if title == 'Mail'
			link(rel='stylesheet', href='/css/mail/mail.css?v=1')
		if title == 'Profile'
			link(rel='stylesheet', href='/css/user/user.css?v=1')
		if title == 'Tips'
			link(rel='stylesheet', href='/css/tips/tips.css?v=1')
	body
		div(id='wrapper')
			if title != 'Sign in' && title != 'Sign up'
				div(id='header-bar')
					a(href='/')
						span(id='header-logo') DMV EXCHANGE 
					span(id='header-menu-button') &#9776;
					div(id='header-search-container')
						input(id='header-search-input', type='text')
						button(id='header-search-button') Search
				div(id='header-controls')
					a(href='/upload', id='create-post') Post
					span(id='notification') Notice

			if title == 'Home'

			if title == 'Sign in'
				block loginForm
			if title == 'Sign up'
				block registerForm
			if title == 'Account'
				if USER.LOGGED_IN
					block accountBlock
			if title == 'Mail'
				block mailBlock
			if title == 'Profile'
				block profileBlock
			if title == 'Tips'
				block tipsBlock

			if title == 'Activated'
				block accountActivated
			if title == 'Sorry'
				block accountCanceled
			if title == 'Umm'
				block accountActive

			if title == 'Error'
				block content		

		script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
		script(src='/js/common.js?v=1')
		if title == 'Account'
			script(src='/js/account.js?v=1')
		if title == 'Sign in'
			script(src='/js/signin.js?v=1')
		if title == 'Sign up'
			script(src='/js/signup.js?v=1')
		if title == 'Mail'
			//
				script(src='/js/mail/messenger.js?v=1')
				script(src='/js/mail/controls.js?v=1')
				script(src='/js/mail/viewer.js?v=1')
			script(src='/js/mail/main.js?v=1')
		if title == 'Tips'
			script(src='/js/tips.js?v=1')
		if title == 'Activated'
			script(src='/js/token.js?v=1')
		if title == 'Sorry'
			script(src='/js/token.js?v=1')
