doctype html
html
	head
		title DX &#8212; #{title}
		link(rel='stylesheet', href='/css/normalize.css')
		link(rel='stylesheet', href='/css/main.css')
		link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/common/common.css')
		link(rel='stylesheet', href='/css/market/market.css')
		link(rel='icon', type='image/png', href='/img/favicon.ico')
	body
		div(id='wrapper')
			div(id='pageHeader')
				div(id='menuButtonContainer')
					span(id='menuButton') &#9776;
				a(href='/')
					div(id='headerLogo')  DMV EXCHANGE 
					div(id='beta') beta
				div(id='headerControls')
					if USER.LOGGED_IN
						a(href='/account/mail')
							div(id='left') Mail					
						a(href='/market')
							div(id='right') Market
						//
							a(href='/user/#{USER.USERNAME}')
								div(id='right') #{USER.USERNAME}
					else
						a(href='/signin')
							div(data-selected='false', id='left') Log in
						a(href='/signup')
							div(id='signup') Sign up

			block headerMenu
			block createBlock
			block marketFeedBlock

		script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
		script(src='/js/common.js')
		script(src='/js/market/market.js')
		script(src='/js/market/poster.js')