doctype html
html
	head
		title DX &#8212; #{title}
		link(rel='stylesheet', href='/css/normalize.css')
		link(rel='stylesheet', href='/css/main.css')
		link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/common/common.css')
		link(rel='stylesheet', href='/css/landing.css')
	body
		div(id='wrapper')
			div(id='pageHeader') 
				div(id='headerLogo')  DMV EXCHANGE 
			div(id='pageMessage')
			div(id='cta_header') Welcome the the DMV Exchange
			ul(id='cta_list')
				li Sell your stuff fast!
					span No complicated sale forms
						br
						| Enter a description, select images and Post it!
				li Get major discounts
					span Buy items with huge savings
						| or trade your unwanted stuff.
				li Establish your business
					span Use DMV Exchange as a platform to sell
						| products and services and avoid the startup costs of a business
			div(id='signup')
				label Sign up to recieve an alert when we finish
				br
				input(type='text', id='emailField', placeholder='Enter your email...')
				br
				button Sign up
			div(id='heroContainer')
				div(id='overlay')

		script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
		script.

			// validate email on button press
			$('#signup button').on('click', function() {
				if(validateEmail($('#signup input').val())) {
					goodStyle($('#signup input'));
					// submit
					$.ajax({
						url: '/api/save_landing_email',
						data: {
							email: $('#emailField').val()
						}
					}).done(function(res) {
						console.log(res);
						if(res.status == 'DX-OK') {
							spawnMessage(res.message, true);
							$('#signup input').val('');
							$('#signup').hide();
							$('#cta').html('We\'ll be sure to send you a heads up when nearing launch');
							$('#cta').css('margin-left', '175px');
						} else {
							spawnMessage(res.message, false);
							$('#signup input').val('');
						}
					});
				} else {
					badStyle($('#signup input'));
				}
			});

			// validate email on enter
			$('#signup input').on('keyup', function(e) {
				if(e.which == 13) {
					$('#signup button').click();
				}
			});