extends layouts/marketLayout

block headerMenu
	ul(id='headerMenu', data-selected='false')
		if USER.LOGGED_IN
			a(href='/market')
				li Home
			a(href='/account')
				li Account
			a(href='/logout')
				li Logout
		else
			a(href='/')
				li Home
			a(href='/tips')
				li Have tips?
			a(href='/signin')
				li Log in
			a(href='/signup')
				li Sign up
	div(id='pageMessage')

block createBlock
	div(id='createContainer')
		img(id='validator')
		div(id='inputContainer')
			span(id='placeholderCamera')
			div(id='postType')
				span(id='sale', data-type='sale', data-active='true', class='postType', tabindex=1) Sale
				span(id='purchase', data-type='general', data-active='false', class='postType', tabindex=2) General
				span(id='cancelButton') Cancel
			textarea(placeholder='Create post...', tabindex=3)
			div(id='controls')
				form(id='uploadForm', enctype='multipart/form-data', action='/market/post', method='post')
					textarea(class='photoUpload', name='d', id='description')
					input(type='text', class='photoUpload', name='t', id='type', value='sale')
					input(type='file', class='photoUpload image', name='photo1', id='file1')
					input(type='file', class='photoUpload image', name='photo2', id='file2')
					input(type='file', class='photoUpload image', name='photo3', id='file3')
					input(type='file', class='photoUpload image', name='photo4', id='file4')
				div(id='controls1', class='photoControls', data-active='false')
					span(class='remove', id='testing', data-for='#handler1') &times;
					img(id='handler1', src='', class='photoHandler', data-active='false', data-for='#file1')

				div(id='controls2', class='photoControls', data-active='false')
					span(class='remove', data-for='#handler2') &times;
					img(id='handler2', src='', class='photoHandler', data-active='false', data-for='#file2')
			
				div(id='controls3', class='photoControls', data-active='false')
					span(class='remove', data-for='#handler3') &times;
					img(id='handler3', src='', class='photoHandler', data-active='false', data-for='#file3')
			
				div(id='controls4', class='photoControls', data-active='false')
					span(class='remove', data-for='#handler4') &times;
					img(id='handler4', src='', class='photoHandler', data-active='false', data-for='#file4')
			
				div(id='post') Post

block marketFeedBlock
	div(id='leftPanel')
		div(id='searchContainer')
			input(id='text', type='text', placeholder='Search posts...')
			button Search
		label(id='viewsLabel') Views
		div(id='viewContainer')
			span(id='all', class='view', data-selected='true') All
			span(id='sale', class='view', data-selected='false') For Sale
			span(id='general', class='view', data-selected='false') General
		label(id='controlsLabel') Controls
		div(id='controlsContainer')  		
			span(class='control') My Store
			span(class='control') My Posts
			span(class='control') Settings


	div(id='centerFeed')
			div(class='post')
				div(class='post_general')
					div(class='thumbnail')
						img(src='/img/landing_bg.jpg', alt='hello')
					span(class='creatorID') kamsdksand123kamsd0oasd
					span(class='creatorUsername') lukeymoo
					span(class='description').
						iamaksmdksamdkamsdk sakdsamkdmsad skdnksamd
				div(class='commentContainer')
					div(class='comment')
						div(class='info')
							span(class='username') Jodoe
							span(class='date') 5 minutes ago
						span(class='text') This is a comment
						div(class='likeContainer')
						span(class='thumb') 
						span(class='thumbCount') 0
					input(class='commentInput', type='text', placeholder='Leave a comment...')
					//
						span(class='commentCount') 22
						img(src='/img/chat_bubble.png', class='commentIcon')

