extends layouts/marketLayout

block headerMenu
	ul(id='headerMenu', data-selected='false')
		if USER.LOGGED_IN
			a(href='/market')
				li Home
			a(href='/account')
				li Account
			a(href='/logout')
				li Logout
		else
			a(href='/')
				li Home
			a(href='/tips')
				li Have tips?
			a(href='/signin')
				li Log in
			a(href='/signup')
				li Sign up
	div(id='pageMessage')

block createBlock
	div(id='createContainer')
		img(id='validator')
		div(id='createPlaceholder') Create a post...
			div(id='createCamera')
		div(id='inputContainer')
			div(id='postType')
				span(id='sale', data-type='sale', data-active='true', class='postType', tabindex=1) Sale
				span(id='purchase', data-type='general', data-active='false', class='postType', tabindex=2) General
			div(id='cancelButton') &times;
			textarea(tabindex=3)
			div(id='controls')
				form(id='uploadForm', enctype='multipart/form-data', action='/market/post', method='post')
					textarea(class='photoUpload', name='d', id='description')
					input(type='text', class='photoUpload', name='t', id='type', value='sale')
					input(type='file', class='photoUpload image', name='photo1', id='file1')
					input(type='file', class='photoUpload image', name='photo2', id='file2')
					input(type='file', class='photoUpload image', name='photo3', id='file3')
					input(type='file', class='photoUpload image', name='photo4', id='file4')
				div(id='controls1', class='photoControls', data-active='false')
					span(class='remove', id='testing', data-for='#handler1') &times;
					img(id='handler1', src='', class='photoHandler', data-active='false', data-for='#file1')

				div(id='controls2', class='photoControls', data-active='false')
					span(class='remove', data-for='#handler2') &times;
					img(id='handler2', src='', class='photoHandler', data-active='false', data-for='#file2')
			
				div(id='controls3', class='photoControls', data-active='false')
					span(class='remove', data-for='#handler3') &times;
					img(id='handler3', src='', class='photoHandler', data-active='false', data-for='#file3')
			
				div(id='controls4', class='photoControls', data-active='false')
					span(class='remove', data-for='#handler4') &times;
					img(id='handler4', src='', class='photoHandler', data-active='false', data-for='#file4')
			
				div(id='post') Post

block marketFeedBlock
	div(id='leftPanel')
		div(id='searchContainer')
			input(id='text', type='text', placeholder='Search...')
			button Search
		div(id='viewContainer')
			label Views
			span(id='all', class='view') All
			span(id='general', class='view') General
			span(id='sale', class='view') For Sale
	div(id='rightPanel')
		div(id='promotionContainer')
			div(class='promotion')
				img(src='/img/landing_bg.jpg')