#createContainer {
	margin-top: 15px;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 0px;
}

#createCamera {
	float: right;
	width: 30px;
	height: 35px;
	background: url('/img/camera_blur.png') no-repeat center center;

	-webkit-transition: background-color .075s linear 0s;
	-moz-transition: background-color .075s linear 0s;
	transition: background-color .075s linear 0s;

	cursor: pointer;
	pointer: hand;
}

#createCamera:hover {
	background: url('/img/camera_focus.png') no-repeat center center
}

#createPlaceholder {
	display: inline-block;

	
	width: 100%;
	height: 35px;
	line-height: 35px;
	padding: 0px 5px;
	border: 1px solid rgb(200, 200, 200);
	color: rgb(110, 110, 110);
	background-color: rgb(250, 250, 250);

	cursor: pointer;
	pointer: hand;
}

#inputContainer {
	display: none;

	width: 100%;
	min-height: 145px;

	margin-top: 25px;

	background-color: #fff;
	padding: 5px 5px;

	-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

#inputContainer #postType {
	position: absolute;
	margin-top: -28px;
	margin-left: -5px;
	font-family: DX-REG;

	cursor: pointer;
	pointer: hand;
}

#inputContainer #postType span {
	z-index: 1;
	padding: 6px 30px;
	background-color: #ddd;
	opacity: .8;
}

#inputContainer #postType span[data-active='true'] {
	opacity: 1;
	background-color: rgb(0, 200, 225);
}

#inputContainer #postType span[data-active='false']:hover {
	opacity: .8;
	background-color: rgb(245, 245, 245);
}

#inputContainer textarea {
	display: inline-block;
	width: 100%;
	height: 100px;
	margin-top: 10px;
	padding-left: 5px;
	padding-right: 6px;

	resize: none;
	vertical-align: top;
	border: none;

	font-size: .9em;
}

#inputContainer textarea:focus {
	outline: none;
}

#inputContainer #controls {
	min-height: 30px;
	border-top: 1px solid rgb(230, 230, 230);
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

#inputContainer #cancelButton {
	position: absolute;
	display: inline-block;

	margin-top: -3px;
	margin-left: 475px;

	padding: 2px 8px;
	text-align: center;

	cursor: pointer;
	pointer: hand;
}

#inputContainer #cancelButton:hover {
	background-color: rgb(230, 230, 230);
}

#inputContainer #controls .addPhoto {
	display: inline-block;

	margin-top: 5px;
	margin-left: 5px;

	min-width: 21px;
	min-height: 22px;

	max-width: 100px;
	max-height: 100px;
	
	cursor: pointer;
	pointer: hand;
}

#inputContainer #controls .addPhoto img {
	max-width: 100px;
	max-height: 100px;
}

#inputContainer #post {
	display: inline-block;

	float: right;

	margin-top: 5px;
	height: 25px;
	line-height: 25px;

	padding: 0px 15px;

	font-size: 1.2em;
	font-family: DX-COND;
	background-color: rgb(0, 210, 225);

	cursor: pointer;
	pointer: hand;

	-webkit-transition: background-color .125s linear 0s;
	-moz-transition: background-color .125s linear 0s;
	transition: background-color .125s linear 0s;
}

#inputContainer #post:hover {
	background-color: rgb(0, 250, 250);
}

#inputContainer .photoUpload {
	display: none;
}

#inputContainer #controls [data-available='false'] {
	display: none;
}

.addPhoto #remove {
	position: absolute;
	color: white;
	padding: 5px 10px;
	background-color: rgb(215, 0, 0);
	display: none;
}

.addPhoto #remove:hover {
	background-color: rgb(255, 0, 0);
}

/*
	Market Feed Styles
	..
	Structure ==

	_id						-- Hidden
	creator_username		-- Shown
	creator_id				-- Hidden
	text 					-- Shown with ellipsis overflow
	subscribers				-- Shown
	comments (count)		-- Shown
	flags (count)			-- Shown
	thumbnail				-- Shown

*/

#pageControls {
	float: right;
	margin-top: 7px;
	margin-right: 10px;

	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

#pageControls span {
	display: inline-block;
	padding: 10px 25px;

	color: black;
	background-color: rgb(190, 190, 190);

	border-radius: 3px;
}

#pageControls span:hover {
	background-color: rgb(210, 210, 210);
}

#pageControls #next {
	margin-left: 25px;
}

#feedContainer {
	margin-top: 25px;
}

#feedContainer #tabs {
	display: block;
	margin-bottom: 8px;

	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

#feedContainer #tabs span {
	padding: 10px 75px;
	cursor: pointer;
	pointer: hand;

	border: 1px solid rgba(0, 0, 0, 0.1);
}

#feedContainer #tabs span[data-active='true'] {
	background-color: rgb(0, 200, 225);
}

#feedContainer #tabs span[data-active='false'] {
	background-color: #ddd;
	opacity: .8;
}

#feedContainer #tabs span[data-active='false']:hover {
	opacity: 1;
	background-color: rgb(240, 240, 240);
}

#feedContainer #sellContainer {
	position: absolute;
	width: 100%;
	height: 100%;

	padding-top: 25px;
	padding-left: 35px;
	padding-bottom: 100px;
	
	background-color: rgb(225, 225, 225);
	box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.2);
	
	z-index: 1;
}

#feedContainer #buyContainer {
	position: absolute;
	width: 100%;
	height: 100%;

	padding-top: 25px;
	padding-left: 35px;
	padding-bottom: 100px;
	
	background-color: rgb(225, 225, 225);
	box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.2);
	
	z-index: 1;
}

.post {
	display: inline-block;
	max-width: 275px;
	min-height: 275px;

	margin-top: 15px;
	margin-left: 25px;

	font-family: DX-REG;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.15);

	-webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.post .thumbnail {
	width: 275px;
	height: 275px;

	padding: 0px;
	margin: 0px;
}

.post .thumbnail img {
	width: 275px;
	height: 275px;
	padding: 0px;
	margin: 0px;
}

.post .post_info {
	padding: 0px 2px;
}

.post .post_info .hidden {
	display: none;
}

.post .post_info span {
	display: block;
}

.post .creator_username {
	padding-top: 3px;
	color: rgb(0, 100, 230);
}

.post .text {
	padding: 2px 0px;
	border-top: 1px solid rgba(0, 0, 0, 0.125);
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	height: 75px;
	overflow: hidden;
}

.post .post_info .subscribers,
.post .post_info .comments,
.post .post_info .flags,
.post .post_info .subscriber_icon,
.post .post_info .comment_icon,
.post .post_info .flag_icon,
.post .post_info .timestamp {
	display: inline-block;
	height: 16px;
	padding: 0px 2px;
	vertical-align: middle;
}

.post .post_info .timestamp {
	float: right;
}

.post .post_info .subscriber_icon {
	width: 16px;
	height: 16px;
	opacity: .7;
	background: url('/img/subscriber_icon.jpg') no-repeat center center;
	background-size: 16px 16px;
}

.post .post_info .comment_icon {
	width: 16px;
	height: 16px;
	opacity: .7;
	background: url('/img/chat_bubble.png') no-repeat center center;
	background-size: 16px 16px;
}

.post .post_info .flag_icon {
	width: 16px;
	height: 16px;
	opacity: .8;
	background: url('/img/flag_icon.png') no-repeat center center;
	background-size: 16px 16px;
}

.request {
	min-height: initial;
	vertical-align: top;
}