#createContainer {
	margin-top: 15px;
	width: 48%;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 0px;
}

#createCamera {
	float: right;
	width: 30px;
	height: 35px;
	background: url('/img/camera_blur.png') no-repeat center center;

	-webkit-transition: background-color .075s linear 0s;
	-moz-transition: background-color .075s linear 0s;
	transition: background-color .075s linear 0s;

	cursor: pointer;
	pointer: hand;
}

#createCamera:hover {
	background: url('/img/camera_focus.png') no-repeat center center
}

#createPlaceholder {
	display: inline-block;

	
	width: 100%;
	height: 35px;
	line-height: 35px;
	padding: 0px 5px;
	border: 1px solid rgb(220, 220, 220);
	color: rgb(110, 110, 110);
	background-color: white;

	cursor: pointer;
	pointer: hand;

	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.0575);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.0575);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.0575);
}

#leftPanel {
	position: absolute;

	top: 75px;
	margin-left: 10px;
	
	width: 240px;
	height: 83vh;

	font-family: DX-REG;
	background-color: white;
	border: 1px solid rgb(220, 220, 220);

	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.0575);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.0575);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.0575);
}

#leftPanel #searchContainer {
	display: block;
	padding: 10px;
}

#leftPanel #searchContainer #text,
#leftPanel #searchContainer button {
	display: inline-block;
	margin: 0px;

	height: 32px;
	line-height: 32px;

	border: 1px solid rgb(220, 220, 220);

	vertical-align: top;
}

#leftPanel #searchContainer #text {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	border-right: none;
}

#leftPanel #searchContainer button {

	border: none;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;

	background-color: rgba(0, 200, 225, 0.4);

	-webkit-transition: background-color .065s linear 0s;
	-moz-transition: background-color .065s linear 0s;
	transition: background-color .065s linear 0s;
}

#leftPanel #searchContainer button:hover {
	background-color: rgba(0, 200, 225, .8);
}

#leftPanel #searchContainer #text:focus,
#leftPanel #searchContainer button:focus {
	outline: none;
}

#leftPanel #searchContainer #text {
	width: 155px;
	padding-left: 5px;
}

#leftPanel label {
	margin-left: 10px;
	width: 150px;
	padding: 0px 15px;
	border-bottom: 1px solid rgb(225, 225, 225);
}

#leftPanel #controlsLabel {
	display: block;
	margin-top: 25px;
}

#leftPanel #controlsContainer {
	display: table;
	padding: 0px 15px;
}

#leftPanel .control:first-child {
	border-left: 1px solid rgba(0, 0, 0, 0.075);
}

#leftPanel .control {
	display: table-cell;

	width: 100px;
	padding: 10px 0px;

	font-size: .9em;

	border-top: 1px solid rgba(0, 0, 0, 0.075);
	border-bottom: 1px solid rgba(0, 0, 0, 0.075);
	border-right: 1px solid rgba(0, 0, 0, 0.075);

	background-color: rgba(0, 200, 225, 0.175);

	text-align: center;

	-webkit-transition: background-color .065s linear 0s;
	-moz-transition: background-color .065s linear 0s;
	transition: background-color .065s linear 0s;

	cursor: pointer;
	pointer: hand;
}

#leftPanel .control:focus {
	background-color: rgba(0, 200, 200, 0.45);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
}

#leftPanel .control:hover {
	background-color: rgba(0, 200, 200, 0.45);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
}

#leftPanel #viewContainer {
	display: table;
	padding: 0px 15px;
}

#leftPanel #viewsLabel {
	display: block;
	margin-top: 25px;
}

#leftPanel .view {
	display: table-cell;

	width: 100px;
	padding: 10px 0px;

	text-align: center;
	font-size: .9em;

	border-top: 1px solid rgba(0, 0, 0, 0.075);
	border-bottom: 1px solid rgba(0, 0, 0, 0.075);
	border-right: 1px solid rgba(0, 0, 0, 0.075);

	background-color: rgba(0, 200, 225, 0.175);

	-webkit-transition: background-color .065s linear 0s;
	-moz-transition: background-color .065s linear 0s;
	transition: background-color .065s linear 0s;

	cursor: pointer;
	pointer: hand;
}

#leftPanel .view[data-selected='true'] {
	background-color: rgba(0, 200, 200, 0.45);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
}

#leftPanel .view:hover {
	background-color: rgba(0, 200, 200, 0.45);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
}

#rightPanel {
	position: absolute;

	top: 75px;
	right: 0px;
	margin-right: 5px;
	
	width: 240px;
	height: 83vh;
	padding-bottom: 10px;
	padding-left: 20px;

	font-family: DX-REG;
}

#rightPanel #promotionContainer {
}

#rightPanel #promotionContainer .promotion {

	width: 200px;
	height: 200px;
}

#rightPanel #promotionContainer .promotion img {
	width: 200px;
	height: 200px;

	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}



.showInputContainer {
	-webkit-animation: showInputContainerAnimation 1s forwards 0s 1 normal;
	-moz-animation: showInputContainerAnimation 1s forwards 0s 1 normal;
	animation: showInputContainerAnimation 1s forwards 0s 1 normal;
}

.showInputContainer-reverse {
	-webkit-animation: showInputContainerAnimation-reverse .75s forwards 0s 1 normal;
	-moz-animation: showInputContainerAnimation-reverse .75s forwards 0s 1 normal;
	animation: showInputContainerAnimation-reverse .75s forwards 0s 1 normal;
}

@-webkit-keyframes showInputContainerAnimation {
	0% {
		overflow: hidden;
		height: 32px;
		margin-top: 0px;
	}
	100% {
		height: 195px;
		margin-top: 25px;
	}
}

@-moz-keyframes showInputContainerAnimation {
	0% {
		overflow: hidden;
		height: 32px;
		margin-top: 0px;
	}
	100% {
		height: 195px;
		margin-top: 25px;
	}
}

@keyframes showInputContainerAnimation {
	0% {
		overflow: hidden;
		height: 32px;
		margin-top: 0px;
	}
	100% {
		height: 195px;
		margin-top: 25px;
	}
}










#inputContainer {
	width: 100%;
	height: 32px;
	overflow: hidden;

	padding-right: 5px;

	border: 1px solid rgba(0, 0, 0, 0.15);
	background-color: #fff;

	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.0575);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.0575);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.0575);
}

#inputContainer #postType {
	position: absolute;
	z-index: 0;
	top: 79px;
	font-family: DX-REG;

	cursor: pointer;
	pointer: hand;
}

#inputContainer #postType span {
	padding: 5px 30px;
	background-color: #ddd;
	opacity: .8;
	z-index: 0;
}

#inputContainer #postType span:focus,
#inputContainer #postType span:active {
	outline: none;
	z-index: 0;
}

#inputContainer #postType span[data-active='true'] {
	opacity: 1;
	background-color: rgb(0, 200, 225);
	z-index: 0;
}

#inputContainer #postType span[data-active='false']:hover {
	opacity: .8;
	background-color: rgb(245, 245, 245);
	z-index: 0;
}

#inputContainer textarea {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 100px;

	z-index: 5;

	padding-top: 7px;
	padding-left: 5px;
	padding-right: 6px;
	background-color: white;

	resize: none;
	vertical-align: top;
	border: none;

	font-size: .9em;
}

#inputContainer textarea:focus {
	outline: none;
}

#inputContainer #controls {
	min-height: 30px;
	border-top: 1px solid rgb(230, 230, 230);
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

#inputContainer #cancelButton {
	position: absolute;
	display: inline-block;

	margin-top: -3px;
	margin-left: 460px;

	padding: 2px 8px;
	text-align: center;

	cursor: pointer;
	pointer: hand;
}

#inputContainer #cancelButton:hover {
	background-color: rgb(230, 230, 230);
}

#validator {
	display: none;
}

#inputContainer #controls .photoHandler {
	display: inline-block;

	margin-top: 5px;
	margin-left: 5px;

	min-width: 21px;
	min-height: 22px;

	max-width: 100px;
	max-height: 100px;
	
	cursor: pointer;
	pointer: hand;
}

#inputContainer #controls .photoHandler[data-active='false'] {
	border: 3px dotted rgba(0, 0, 0, 0.25);
	border-radius: 3px;
	padding: 25px;
}

#inputContainer #controls .photoHandler[data-active='false']:hover {
	border: 3px dotted rgba(0, 0, 0, 0.35);
}

#inputContainer #controls .photoControls {
	display: inline-block;
}

#inputContainer #controls .photoControls .remove {
	position: absolute;
	z-index: 2;
	margin-top: 5px;
	margin-left: 86px;
	color: white;
	opacity: 0;

	font-size: 1.75em;
	height: 18px;
	line-height: 18px;

	padding: 0px 2px;


	cursor: pointer;
	pointer: hand;
}

#inputContainer #controls .photoControls .remove:hover {
	opacity: 1;
}

#inputContainer #post {
	display: inline-block;

	float: right;

	margin-top: 55px;
	height: 25px;
	line-height: 25px;

	padding: 0px 15px;

	font-size: 1.2em;
	font-family: DX-COND;
	background-color: rgb(0, 210, 225);

	cursor: pointer;
	pointer: hand;

	-webkit-transition: background-color .125s linear 0s;
	-moz-transition: background-color .125s linear 0s;
	transition: background-color .125s linear 0s;
}

#inputContainer #post:hover {
	background-color: rgb(0, 250, 250);
}

#inputContainer .photoUpload {
	display: none;
}

#inputContainer #controls [data-available='false'] {
	display: none;
}

.addPhoto #remove {
	position: absolute;
	color: white;
	padding: 5px 10px;
	background-color: rgb(215, 0, 0);
	display: none;
}

.addPhoto #remove:hover {
	background-color: rgb(255, 0, 0);
}












