a, a:active, a:visited, a:hover, a:link {
	text-decoration: none;
}

#wrapper {
	max-width: 1024px;
	min-height: 100vh;
	margin-left: auto;
	margin-right: auto;
}

#notification-container {
	position: fixed;
	z-index: 100;
	top: 55px;
	right: 10px;
}

#notification-container .notification {
	width: 225px;
	min-height: 85px;

	padding-top: 15px;
	padding-left: 10px;
	padding-bottom: 10px;
	margin-bottom: 5px;

	border-radius: 3px;

	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
}

#notification-container .defcon1 {
	color: rgb(200, 200, 200);
	background-color: rgba(0, 0, 0, 0.75);
}

#notification-container .defcon3 {
	color: black;
	background-color: rgba(255, 50, 0, 0.7);
}

#notification-container .defcon5 {
	color: white;
	background-color: rgb(190, 0, 0);
}

#notification-container .notification .close_button {
	float: right;
	font-size: 1.75em;
	padding: 2px;
	height: 20px;
	line-height: 20px;
	margin-top: -8px;
	margin-right: 5px;
	cursor: pointer;
	pointer: hand;
}

#notification-container .notification .close_button:hover {
	color: rgb(100, 100, 100);
}

#notification-container .notification .text {
	font-family: DX-REG;
	padding-right: 5px;
}

#header-bar {
	display: block;
	padding: 0px 25px;
	height: 50px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#header-logo {
	position: absolute;
	top: 10px;
	font-family: fancy;
	font-size: 1.35em;
}

#header-menu-button {
	position: absolute;
	top: 10px;
	left: 200px;
	height: 28px;
	line-height: 28px;
	padding: 0px 15px;
	font-size: .9em;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.4);
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius: 3px;
	cursor: pointer;
	pointer: hand;
}

#header-menu-button:hover {
	color: rgba(0, 0, 0, .6);
	border: 1px solid rgba(0, 0, 0, 0.175);
	background-color: rgba(0, 0, 0, 0.05);
}

#header-search-container {
	position: absolute;
	top: 10px;
	left: 280px;
}

#header-search-input {
	display: inline-block;
	margin-top: 2px;
	width: 410px;
	height: 24px;
	border: 1px solid rgba(0, 0, 0, 0.175);
	padding: 2px 5px;
}

#header-search-input:hover {
	border: 1px solid rgba(0, 0, 0, 0.3);
}

#header-search-input:focus {
	outline: none;
}

#header-search-button {
	position: absolute;
	top: 2px;
	height: 30px;
	border: 1px solid rgba(0, 0, 0, 0.175);
	border-left: none;
	font-family: GOOGLE;
	font-size: .75em;
	padding: 0px 12px;
	background-color: rgba(0, 0, 0, 0.05);
}

#header-controls {
	position: absolute;
	top: 12px;
	right: 25px;
}

#create-post {
	display: inline-block;
	border: 1px solid rgba(0, 0, 0, 0.175);
	height: 28px;
	line-height: 28px;
	padding: 0px 15px;
	border-radius: 3px;
	font-family: GOOGLE;
	font-weight: bold;
	font-size: .725em;
	color: rgb(65, 65, 65);
	background-color: rgba(0, 0, 0, 0.05);
}

#notification {
	display: inline-block;
	border: 1px solid rgba(0, 0, 0, 0.175);
	height: 28px;
	line-height: 28px;
	padding: 0px 15px;
	border-radius: 3px;
	font-family: GOOGLE;
	font-weight: bold;
	font-size: .725em;
	margin-left: 15px;
	color: rgb(65, 65, 65);
	background-color: rgba(0, 0, 0, 0.05);
	cursor: pointer;
	pointer: hand;
}